openapi: 3.1.0
info:
  title: Wells Fargo Account Transactions Accounts API
  description: The Wells Fargo Account Transactions API enables treasury management customers to search and retrieve transaction data from the current day through 180 days prior. The API supports ACH, Wire, and RTP/Instant Payment transactions with unique transaction IDs, intraday and previous day reporting, and pagination for high-volume transaction retrieval. Authentication uses OAuth 2.0 bearer tokens obtained through the Wells Fargo Developer Portal.
  version: '3.0'
  contact:
    url: https://developer.wellsfargo.com/documentation/api-references/account-transactions/v3/transaction-detail-api-ref-v3
servers:
- url: https://api.wellsfargo.com
tags:
- name: Accounts
  description: Account information and balance queries.
paths:
  /v3/accounts:
    get:
      operationId: listAccounts
      summary: List Accounts
      description: Retrieves a list of accounts associated with the authenticated commercial customer, including account number, type, currency, and current balance information.
      tags:
      - Accounts
      security:
      - oauth2:
        - accounts:read
      responses:
        '200':
          description: Account list returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountListResponse'
        '401':
          description: Unauthorized.
  /v3/accounts/{accountId}/balances:
    get:
      operationId: getAccountBalances
      summary: Get Account Balances
      description: Retrieves current and available balance information for a specified account, including ledger balance, available balance, and intraday position with real-time updates throughout the business day.
      tags:
      - Accounts
      parameters:
      - name: accountId
        in: path
        description: The Wells Fargo account identifier.
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - accounts:read
      responses:
        '200':
          description: Account balance returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBalance'
        '401':
          description: Unauthorized.
        '404':
          description: Account not found.
  /accounts:
    get:
      operationId: listAccounts
      summary: List accounts
      description: Retrieves a list of accounts associated with the authenticated commercial customer, including account type, balance, and status.
      tags:
      - Accounts
      responses:
        '200':
          description: Success
components:
  schemas:
    Account:
      type: object
      properties:
        accountId:
          type: string
        accountNumber:
          type: string
        accountType:
          type: string
          enum:
          - CHECKING
          - SAVINGS
          - MONEY_MARKET
          - CREDIT_LINE
        accountName:
          type: string
        currency:
          type: string
        status:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
          - CLOSED
    AccountBalance:
      type: object
      properties:
        accountId:
          type: string
        ledgerBalance:
          type: number
          format: double
        availableBalance:
          type: number
          format: double
        intradayPosition:
          type: number
          format: double
        currency:
          type: string
        asOfDateTime:
          type: string
          format: date-time
    AccountListResponse:
      type: object
      properties:
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/Account'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.wellsfargo.com/oauth2/token
          scopes:
            accounts:read: Read account information and balances
            transactions:read: Read transaction history and details
