openapi: 3.2.0
info:
  title: Wells Fargo Transactions API
  version: '1.0'
  description: 'Operations tagged Transactions across 2 of this provider''s published API definitions: wells-fargo-account-transactions-api-openapi.yml, wells-fargo-gateway-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.wellsfargo.com
tags:
- name: Transactions
  description: Retrieve and search account transaction data.
paths:
  /v3/accounts/{accountId}/transactions:
    get:
      operationId: listAccountTransactions
      summary: List Account Transactions
      description: Retrieves a paginated list of transactions for a specified account, supporting ACH, Wire, and RTP/Instant Payment transaction types with intraday and previous-day reporting up to 180 days. Includes unique transaction IDs for deduplication.
      tags:
      - Transactions
      parameters:
      - name: accountId
        in: path
        description: The Wells Fargo account identifier.
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        description: Start date for transaction search (YYYY-MM-DD). Maximum 180 days prior.
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        description: End date for transaction search (YYYY-MM-DD).
        schema:
          type: string
          format: date
      - name: transactionType
        in: query
        description: Filter by transaction type (ACH, WIRE, RTP, CHECK, FED_NOW).
        schema:
          type: string
          enum:
          - ACH
          - WIRE
          - RTP
          - CHECK
          - FED_NOW
      - name: debitCreditIndicator
        in: query
        description: Filter by debit or credit transactions.
        schema:
          type: string
          enum:
          - DEBIT
          - CREDIT
      - name: pageSize
        in: query
        description: Number of transactions to return per page (default 100, max 500).
        schema:
          type: integer
          default: 100
          maximum: 500
      - name: pageToken
        in: query
        description: Pagination token from a previous response to fetch next page.
        schema:
          type: string
      security:
      - oauth2:
        - transactions:read
      responses:
        '200':
          description: Transaction list returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionListResponse'
        '400':
          description: Bad request - invalid parameters.
        '401':
          description: Unauthorized - invalid or missing access token.
        '403':
          description: Forbidden - insufficient permissions.
        '404':
          description: Account not found.
    servers:
    - url: https://api.wellsfargo.com
  /v3/accounts/{accountId}/transactions/{transactionId}:
    get:
      operationId: getTransactionDetail
      summary: Get Transaction Detail
      description: Retrieves detailed information for a specific transaction by its unique transaction ID, including amount, counterparty, date, status, and transaction-type-specific fields for ACH, Wire, and RTP transactions.
      tags:
      - Transactions
      parameters:
      - name: accountId
        in: path
        description: The Wells Fargo account identifier.
        required: true
        schema:
          type: string
      - name: transactionId
        in: path
        description: The unique transaction identifier.
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - transactions:read
      responses:
        '200':
          description: Transaction detail returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '401':
          description: Unauthorized.
        '404':
          description: Transaction not found.
    servers:
    - url: https://api.wellsfargo.com
  /transactions:
    get:
      operationId: listTransactions
      summary: List transactions
      description: Retrieves a list of transactions for a specified account with filtering by date range, amount, and transaction type.
      tags:
      - Transactions
      parameters:
      - name: accountId
        in: query
        description: The account identifier.
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        description: Filter transactions from this date.
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        description: Filter transactions up to this date.
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.wellsfargo.com
components:
  schemas:
    TransactionListResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        nextPageToken:
          type: string
          description: Token for fetching the next page of results.
        totalCount:
          type: integer
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
          description: Unique transaction identifier.
        accountId:
          type: string
        transactionType:
          type: string
          enum:
          - ACH
          - WIRE
          - RTP
          - CHECK
          - FED_NOW
        debitCreditIndicator:
          type: string
          enum:
          - DEBIT
          - CREDIT
        amount:
          type: number
          format: double
        currency:
          type: string
          example: USD
        transactionDate:
          type: string
          format: date
        postingDate:
          type: string
          format: date
        description:
          type: string
        status:
          type: string
          enum:
          - POSTED
          - PENDING
          - RETURNED
        counterpartyName:
          type: string
        counterpartyAccountNumber:
          type: string
        counterpartyRoutingNumber:
          type: string
        referenceNumber:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.wellsfargo.com/oauth2/token
          scopes:
            accounts:read: Read account information and balances
            transactions:read: Read transaction history and details
    bearerAuth:
      type: http
      scheme: bearer
x-refined-from:
- wells-fargo-account-transactions-api-openapi.yml
- wells-fargo-gateway-api-openapi.yml
