openapi: 3.2.0
info:
  title: Wells Fargo Accounts API
  version: '1.0'
  description: 'Operations tagged Accounts across 2 of this provider''s published API definitions: wells-fargo-account-transactions-api-openapi.yml, wells-fargo-gateway-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.wellsfargo.com
tags:
- name: Accounts
  description: Account information and balance queries.
paths:
  /v3/accounts:
    get:
      operationId: listAccounts
      summary: List Accounts
      description: Retrieves a list of accounts associated with the authenticated commercial customer, including account number, type, currency, and current balance information.
      tags:
      - Accounts
      security:
      - oauth2:
        - accounts:read
      responses:
        '200':
          description: Account list returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountListResponse'
        '401':
          description: Unauthorized.
    servers:
    - url: https://api.wellsfargo.com
  /v3/accounts/{accountId}/balances:
    get:
      operationId: getAccountBalances
      summary: Get Account Balances
      description: Retrieves current and available balance information for a specified account, including ledger balance, available balance, and intraday position with real-time updates throughout the business day.
      tags:
      - Accounts
      parameters:
      - name: accountId
        in: path
        description: The Wells Fargo account identifier.
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - accounts:read
      responses:
        '200':
          description: Account balance returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBalance'
        '401':
          description: Unauthorized.
        '404':
          description: Account not found.
    servers:
    - url: https://api.wellsfargo.com
  /accounts:
    get:
      operationId: listAccounts
      summary: List accounts
      description: Retrieves a list of accounts associated with the authenticated commercial customer, including account type, balance, and status.
      tags:
      - Accounts
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.wellsfargo.com
components:
  schemas:
    AccountBalance:
      type: object
      properties:
        accountId:
          type: string
        ledgerBalance:
          type: number
          format: double
        availableBalance:
          type: number
          format: double
        intradayPosition:
          type: number
          format: double
        currency:
          type: string
        asOfDateTime:
          type: string
          format: date-time
    AccountListResponse:
      type: object
      properties:
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/Account'
    Account:
      type: object
      properties:
        accountId:
          type: string
        accountNumber:
          type: string
        accountType:
          type: string
          enum:
          - CHECKING
          - SAVINGS
          - MONEY_MARKET
          - CREDIT_LINE
        accountName:
          type: string
        currency:
          type: string
        status:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
          - CLOSED
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.wellsfargo.com/oauth2/token
          scopes:
            accounts:read: Read account information and balances
            transactions:read: Read transaction history and details
    bearerAuth:
      type: http
      scheme: bearer
x-refined-from:
- wells-fargo-account-transactions-api-openapi.yml
- wells-fargo-gateway-api-openapi.yml
